{% extends "HtmlCore.html" %}
{% block title %}Search engine{% endblock %}

{% block content %}


<form action="#" method="POST" class="container">
  <div class="container">

    <div class="row height d-flex justify-content-center align-items-center">
  
      <div class="col-md-8">
  
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text"  name="nm"class="form-control" placeholder="Search for a job">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        
      </div>
      
    </div>
  </div>
  
</form>
{% endblock %}

